<!DOCTYPE html>
<html>
<head>
  <title>Mapmaker</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>


</head>
<body>

<div class="backsplash">
  <h1>
    Police Shootings:
  </h1>
  <h5 class="backsplash2">
    a collection of police violence against civilians
  </h5>
</div>



<%= yield %>

</body>
</html>
